.main {margin: 0; padding: 0}
/* header */
.divider{height: 9px; background-color: #C50023}
.bc-fa {padding: 0 4px 0 4px; color: #9E9D9D}
.bc-li {display: inline; padding: 0 10px 0 10px}
.logo-img {padding: 27px 0 0 25px}
.icon {position: absolute; margin-left: 172px; margin-top: 9px}
.offer-main {background: #9E9D9D}
.offer-last {position: relative}
.offer-text {position: absolute; left: 0; top: 50%; width: 100%; text-align: center;font-size: 25px}
.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.menu-container { margin: 0 auto; background: #e60003}

.menu-mobile {display: none; padding: 20px;}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {content: "";display: table}
.menu > ul:after {clear: both}

.menu > ul > li {
    float: left;
    background: #e60003;
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 1px;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
}

.menu > ul > li:hover {background: #f0f0f0}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {content: "";display: table}

.menu > ul > li > ul:after {clear: both}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {clear: both}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
        background: #e60003;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
        background: #9E9D9D;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        background: #9E9D9D;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {width: 100%}
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {margin: 0}
    .menu > ul > li > ul > li > ul {position: relative}
    .menu > ul > li > ul > li > ul > li {float: none}
    .menu .show-on-mobile {display: block}
}